@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

footer {
  background-color: #CFDBFF; }
  footer .div1 {
    display: flex;
    align-items: center; }
  footer .div2 {
    display: flex;
    justify-content: flex-end; }
    footer .div2 img {
      width: 70px;
      height: 70px; }
  footer .div3 {
    display: flex;
    align-items: center;
    justify-content: center; }

header nav .div-icono {
  width: 100%;
  display: flex;
  background-color: #CFDBFF; }
  header nav .div-icono .icono {
    width: 80px;
    height: 80px; }
    header nav .div-icono .icono .ulsolo {
      transition: all 0.3s ease; }
      header nav .div-icono .icono .ulsolo .li-hover {
        padding-right: 10px; }
      header nav .div-icono .icono .ulsolo .li-hover:hover {
        background-color: rgba(180, 156, 156, 0.5);
        border-radius: 10px; }
      header nav .div-icono .icono .ulsolo .li-hover:hover::before {
        content: '🐾';
        display: flex;
        justify-content: center; }

.quienesfondo section div div .textol {
  width: 100%;
  color: black; }

.quienesfondo section div div p .enlasee a {
  color: white; }
  .quienesfondo section div div p .enlasee a:link {
    text-decoration: none; }
  .quienesfondo section div div p .enlasee a:hover::after {
    content: '👈';
    margin-left: 5px;
    font-size: 4rem; }
  .quienesfondo section div div p .enlasee a:hover::before {
    content: '👉';
    margin-left: 5px;
    font-size: 4rem; }

.divp {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; }

.arriba {
  display: flex;
  justify-content: center; }
  .arriba .carta {
    width: 80%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover; }
    .arriba .carta img {
      object-fit: cover;
      border-radius: 30px; }
    .arriba .carta div p {
      font-size: 16px; }

.sepa {
  padding: 10px; }

.imgzoom {
  transition: transform 0.3s ease; }

.imgzoom:hover {
  transform: scale(1.05); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.quienesfondo {
  background: white;
  background: linear-gradient(180deg, white 10%, #cfdbff 50%, #eeeeee 90%);
  color: black; }

.titulogood {
  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    letter-spacing: normal;
    opacity: 1; } }

h3 {
  text-transform: uppercase; }

a {
  text-decoration: none; }

.nombre0 {
  color: black; }

.nombre1 {
  color: black; }

.nombre2 {
  color: pink; }

.nombre3 {
  color: pink; }

@media (max-width: 991px) {
  .div2 img {
    width: 60px;
    height: 60px; } }

@media (max-width: 991px) {
  .li-hover:hover::before {
    display: none; } }

.invertir {
  transform: scaleX(-1); }

.imgzoom {
  transition: transform 0.3s ease; }

.imgzoom:hover {
  transform: scale(1.05); }

.contac-fondo {
  background-image: url(../imagenes/fondo-tur.jpg); }

.tabla-contac {
  display: flex;
  width: 100%;
  height: 700px;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .tabla-contac tr {
    height: 100px; }
    .tabla-contac tr th {
      width: 300px; }
