@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

footer {
  background-color: #CFDBFF; }
  footer .div1 {
    display: flex;
    align-items: center; }
  footer .div2 {
    display: flex;
    justify-content: flex-end; }
    footer .div2 img {
      width: 70px;
      height: 70px; }
  footer .div3 {
    display: flex;
    align-items: center;
    justify-content: center; }

@media (max-width: 991px) {
  .div2 img {
    width: 60px;
    height: 60px; } }

header nav .div-icono {
  width: 100%;
  display: flex;
  background-color: #CFDBFF; }
  header nav .div-icono .icono {
    width: 80px;
    height: 80px; }
    header nav .div-icono .icono .ulsolo {
      transition: all 0.3s ease; }
      header nav .div-icono .icono .ulsolo .li-hover {
        padding-right: 10px; }
      header nav .div-icono .icono .ulsolo .li-hover:hover {
        background-color: rgba(180, 156, 156, 0.5);
        border-radius: 10px; }
      header nav .div-icono .icono .ulsolo .li-hover:hover::before {
        content: '🐾';
        display: flex;
        justify-content: center; }

.fondom {
  background-image: url(../imagenes/AQUI.jpg); }
  .fondom section div div .textol {
    width: 100%;
    color: black; }
  .fondom section div div p .enlasee a {
    color: white; }
    .fondom section div div p .enlasee a:link {
      text-decoration: none; }
    .fondom section div div p .enlasee a:hover::after {
      content: '👈';
      margin-left: 5px;
      font-size: 4rem; }
    .fondom section div div p .enlasee a:hover::before {
      content: '👉';
      margin-left: 5px;
      font-size: 4rem; }

.arriba {
  display: flex;
  justify-content: center; }
  .arriba .carta {
    width: 80%;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    object-fit: cover; }
    .arriba .carta img {
      object-fit: cover;
      border-radius: 30px; }
    .arriba .carta div p {
      font-size: 16px; }

.sepa {
  padding: 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.quienesfondo {
  background: white;
  background: linear-gradient(180deg, white 10%, #cfdbff 50%, #eeeeee 90%);
  color: black; }

h3 {
  text-transform: uppercase; }

a {
  text-decoration: none; }

.nombre0 {
  color: black; }

.nombre1 {
  color: black; }

.nombre2 {
  color: pink; }

.nombre3 {
  color: pink; }
