* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

link {
    text-decoration: none;
}

.quienesfondo {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(207,219,255,1) 50%, rgba(238,238,238,1) 90%);
        color: black; 
}
.titulogood {
    
	-webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
}

@each $mayusculas in (h3) {
    #{$mayusculas} {
        text-transform: uppercase;
    }
    
}

@each $links in (a) {
    #{$links} {
        text-decoration: none;
    }
    
}

$nom: (
    nombre0: black,
    nombre1: black,
    nombre2: pink,
    nombre3: pink,
);

@each $name, $color in $nom {
    .#{$name} {
        color: $color;
    }
}