* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    .quienesfondo {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(207,219,255,1) 50%, rgba(238,238,238,1) 90%);
        color: black;
    }
}

@each $mayusculas in (h3) {
    #{$mayusculas} {
        text-transform: uppercase;
    }
    
}

@each $links in (a) {
    #{$links} {
        text-decoration: none;
    }
    
}

$nom: (
    nombre0: black,
    nombre1: black,
    nombre2: pink,
    nombre3: pink,
);

@each $name, $color in $nom {
    .#{$name} {
        color: $color;
    }
}