 
.divp {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    
}
.seccionpq {
    padding: 100px 1rem;
    min-height: 50hv;
    background-color: #000000;
    color: #CFDBFF;
    border-radius: 50px;
}

.divpq {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr ;
    grid-template-rows: 300px;
    grid-template-areas: 
    "a1 a2 a3"
    ;
    
}

.h2pq {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 50px;
}

.div-00 {
    
    border: 1px solid #CFDBFF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    p {
        text-align: center;
    }

}
.div-10 {
    grid-area: a1;
}
.div-20 {
    grid-area: a2;
}
.div-30 {
    grid-area: a3;
}

.enlasee a {
    color: #a5adc5;
                                   
                       
} 
.flecha {
    font-size: 25px;
 
    -webkit-animation: shake-vertical 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-vertical 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
 
}
@keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
}