
@media (max-width: 991px) {
    .li-hover:hover::before {
    
        display: none;
    
    }
    .div2 {
        
        img {
            width: 60px;
            height: 60px;
        }

    }
    .divpq {
        display: flex;
        flex-direction: column;
    }
}